<button class="btn btn-{{ button.modifier }}{% if button.size is defined %} btn-{{ button.size }}{% endif %}{% if button.block %} btn-block{% endif %}"{% if button.disabled %} disabled{% endif %}>{{ button.text }}</button>
