<div class="container">

  <div class="row">
    <div class="col">
      <h1>Badges</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include "@badge" with { text: 'default' } %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% set modifiers = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'] %}
      {% for modifier in modifiers %}
        {% include "@badge" with { badge: { modifier: modifier, text: modifier } } %}
      {% endfor %}
    </div>
  </div>

</div>
