<li class="page-item{% if item.is_active %} active{% endif %}{% if item.is_disabled %} disabled{% endif %}"><a class="page-link" href="{{ item.url }}">{{ item.label }}{% if item.is_active %} <span class="sr-only">(current)</span>{% endif %}</a></li>
